.cards1 {
    padding-top: 100px;
    padding-bottom: 100px;
    /* background-color: black; */
}

.intro {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.left-bar {
    background-color: black;
}