.card {
    padding: 40px;
    /* background-color: black; */
}

.intro {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.left-bar {
    background-color: #fff;
}

.center {
    margin: auto;
}